* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255 212 219);
  width: 100dvw;
  height: 100dvh;
  display: grid;
  place-content: center;
  padding: 2rem;
}

#container {
  padding: 2rem;
  background-color: #ffeff5;
  border-radius: 20px;
  box-shadow: 0px 0px 16px 3px rgb(255 154 171 / 55%);
  text-align: center;
  position: relative;
}

.love-emoji {
  width: 6rem;
  height: 6rem;
  position: absolute;
  right: -2.3rem;
  margin-bottom: 1rem;
  top: -3rem;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  color: rgb(255 20 147);
  font-size: 3rem;
  font-weight: 600;
}

p {
  font-family: "SN Pro", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: rgb(255 20 147);
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.action-btns {
  display: grid;
  gap: 1rem;
  justify-content: center;
  margin-top: 2.5rem;
  position: relative;
  align-items: center;
  height: 15rem;
}

#yesBtn {
  background: deeppink;
  border: none;
  border-radius: 7px;
  font-size: 1.5rem;
  padding-inline: 1.3rem;
  padding-block: 8px;
  cursor: pointer;
  color: #fff;
  transition: all 0.2s ease-out;
  box-shadow: 0px 5px 13px 2px #fc85c5;
}

#noBtn {
  background: #fff;
  border: none;
  border-radius: 7px;
  font-size: 1.5rem;
  padding-inline: 1rem;
  padding-block: 5px;
  cursor: pointer;
  position: absolute;
  transition:
    left 0.2s ease,
    top 0.2s ease;
  box-shadow: 0 5px 14px -3px #989898;
}

.val-img {
  display: none;
  width: 100%;
  height: 15rem;
  margin: auto;
  border-radius: 20px;
}
